.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 320px;
  max-width: 480px;
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: auto;
}

.searchInput {
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  outline: none;
}
